pip install sentencepiece
pip install git+https://git@github.com/SKTBrain/KoBERT.git@master
pip install 'git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf'
pip install transformers
pip install pyodbc
pip install tqdm
pip install sqlalchemy
pip install torch
pip install torchvision
pip install sentencePiece
pip install flask
pip install openai==0.28
