sentencepiece
git+https://git@github.com/SKTBrain/KoBERT.git@master
git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf
transformers
pyodbc
tqdm
sqlalchemy
torch
torchvision
sentencePiece
flask
openai==0.28
